<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    <body>
    <!--Add review form here -->
	<div class = "container">
	<form action="{% url 'djangoapp:postreview' id dealer%}" method="POST">
	{% csrf_token %}
		<h3>
		Add a review about {{dealer}}
		
		</h3>
		<div class="form-group">
		    <label for="content">Enter the review content:</label>
			<textarea class="form-control" id="content" name="content" rows="2" required></textarea>
		</div>
		<div class="checkbox">
			<label><input class="form-check-input" type="checkbox" name="purchasecheck" id="purchasecheck">Has purchased the Car from {{dealer}}?</label>
		</div>
		<div class="form-group">
		<label>Select your car(model-make-year):</label>
		<select name="car" id="car" class="form-select" required>
		{% for car in cars %}
         <option selected value={{car.id}}>{{car.name}}-{{car.make.name}}-{{ car.year }}</option>
		{% endfor %}
		</select></div>
		<div class="form-group">
		<label>Select your purchase date:<input class="date-own form-control" type="text" name="purchasedate" id="purchasedate"></label>
		</div>
		<div class="form-group">
		<button type="submit" class="btn btn-primary mb-3">Submit</button>
		</div>

	</form>
	</div>
	  <script type="text/javascript">
      $('.date-own').datepicker({
         format: 'mm/dd/yyyy'
       });
 </script>
	
    </body>
</html>