<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>

    <!--Add a nav bar here -->
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                  <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Welcome to Best Cars dealership!</a>
            </div>
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="{% url 'djangoapp:about' %}" class="nav-link">About Us</a></li>
                <li class="nav-item"><a href="{% url 'djangoapp:contact' %}" class="nav-link">Contact Us</a></li>
            
			
				{% if user.is_authenticated %}
				<li>
					<a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
					<a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
				</li>
				{% else %}
				<li>
					<form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Username" name="username" >
                        <input type="password" class="form-control" placeholder="Password" name="psw" >
                        <button class="btn btn-primary" type="submit">Login</button>
                        <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                    </div>
					</form>
				</li>
				{% endif %}
				
			</ul>
        </div>
    </nav>
    <!-- Add reviews as cards -->
	<div class = "container">
		<h5>Reviews for {{dealer_id}}</h5>
	<div class="card-columns">
		
		{% for review in list %}
		
		<div class="card">
		
			{% if review.sentiment == "positive" %}
			<img src="{{MEDIA_URL}}/emoji/positive.png" width="50" height="50">
			{% elif review.sentiment == "neutral" %}
			<img src="{{MEDIA_URL}}/emoji/neutral.png" width="50" height="50">
			{% else %}
			<img src="{{MEDIA_URL}}/emoji/negative.png" width="50" height="50">
			{% endif %}
			
			<div class="card-body" style="max-width: 15rem;">
				<h5 class="card-title">{{review.car_make}} {{review.car_model}}</h5>
				<h5 class="card-title">{{review.car_year}}</h5>
				<p class="card-text">{{review.review}}</p>
				
			</div>
		</div>
		{% endfor %}
	</div>
	{% if user.is_authenticated %}
	<h><a href="{% url 'djangoapp:postreview' dealer_id %}">Add review</a></h>
	
	{% endif %}
	</div>
    </body>

</html>